<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>全校老师(29)</string>
		<key>node</key>
		<array>
			<dict>
				<key>name</key>
				<string>分园(3)</string>
				<key>node</key>
				<array>
					<dict>
						<key>name</key>
						<string>未分组(3)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>1512817</string>
								<key>mobile</key>
								<string>15381127052</string>
								<key>name</key>
								<string>王晓燕</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1512820</string>
								<key>mobile</key>
								<string>15355024232</string>
								<key>name</key>
								<string>戴老师</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1512823</string>
								<key>mobile</key>
								<string>15355024232</string>
								<key>name</key>
								<string>白老师</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>主园(26)</string>
				<key>node</key>
				<array>
					<dict>
						<key>name</key>
						<string>大班组(3)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>880736</string>
								<key>mobile</key>
								<string>13957804048</string>
								<key>name</key>
								<string>哦哦啦啦啦</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1228060</string>
								<key>mobile</key>
								<string>12345678952</string>
								<key>name</key>
								<string>郭老师</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1261340</string>
								<key>mobile</key>
								<string>15788888888</string>
								<key>name</key>
								<string>刘德华</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>后勤组(3)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>1164467</string>
								<key>mobile</key>
								<string>13858049658</string>
								<key>name</key>
								<string>gl</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1237282</string>
								<key>mobile</key>
								<string>13858049658</string>
								<key>name</key>
								<string>sdffds</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1567374</string>
								<key>mobile</key>
								<string>15258800377</string>
								<key>name</key>
								<string>霸王别姬</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>托班组(1)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>1262081</string>
								<key>mobile</key>
								<string>18658857438</string>
								<key>name</key>
								<string>刘媛媛</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>小班组(1)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>1322260</string>
								<key>mobile</key>
								<string>13589652145</string>
								<key>name</key>
								<string>张丽</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>园务组(1)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>847929</string>
								<key>mobile</key>
								<string>13858049658</string>
								<key>name</key>
								<string>陈子怡</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>中班组(1)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>854436</string>
								<key>mobile</key>
								<string>13486358228</string>
								<key>name</key>
								<string>40001</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>未分组(16)</string>
						<key>node</key>
						<array>
							<dict>
								<key>id</key>
								<string>1045717</string>
								<key>mobile</key>
								<string>434343434333</string>
								<key>name</key>
								<string>问问</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1322299</string>
								<key>mobile</key>
								<string>18979921507</string>
								<key>name</key>
								<string>luoqing</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1285782</string>
								<key>mobile</key>
								<string>13606600933</string>
								<key>name</key>
								<string>cc</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1289402</string>
								<key>mobile</key>
								<string>13588888886</string>
								<key>name</key>
								<string>测试</string>
							</dict>
							<dict>
								<key>id</key>
								<string>849780</string>
								<key>mobile</key>
								<string>15355024232</string>
								<key>name</key>
								<string>草莓教师A</string>
							</dict>
							<dict>
								<key>id</key>
								<string>849782</string>
								<key>mobile</key>
								<string>15155412703</string>
								<key>name</key>
								<string>草莓教师B</string>
							</dict>
							<dict>
								<key>id</key>
								<string>855497</string>
								<key>mobile</key>
								<string>13082804355</string>
								<key>name</key>
								<string>0manage005</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1237276</string>
								<key>mobile</key>
								<string>15355024232</string>
								<key>name</key>
								<string>54</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1237280</string>
								<key>mobile</key>
								<string>12345678965</string>
								<key>name</key>
								<string>211</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1237284</string>
								<key>mobile</key>
								<string>12378945632</string>
								<key>name</key>
								<string>dfsadf</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1237287</string>
								<key>mobile</key>
								<string>13878787878</string>
								<key>name</key>
								<string>的课</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1237289</string>
								<key>mobile</key>
								<string>13678787878</string>
								<key>name</key>
								<string>看到了</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1237290</string>
								<key>mobile</key>
								<string>12345678998</string>
								<key>name</key>
								<string>ffs</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1262655</string>
								<key>mobile</key>
								<string>13606600930</string>
								<key>name</key>
								<string>001</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1262663</string>
								<key>mobile</key>
								<string>15057154193</string>
								<key>name</key>
								<string>002</string>
							</dict>
							<dict>
								<key>id</key>
								<string>1263573</string>
								<key>mobile</key>
								<string>13568645641</string>
								<key>name</key>
								<string>花花</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
